spring:
  profiles:
    active: dev
    include: secret
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
  flyway:
    baseline-on-migrate: true
  cache:
    type: caffeine
logging:
  level:
    root: INFO
    example.demo.rest_api: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB
gemini:
  api-key: ${GEMINI_API_KEY:dummy}
caffeine:
  spec: maximumSize=500,expireAfterWrite=24h