spring:
  profiles:
    active: dev
    include: secret
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
  flyway:
    baseline-on-migrate: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: cotkdwls10@gmail.com
    password: lgcsayzztbbgunlf
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        debug: false

logging:
  level:
    root: INFO
    example.demo.rest_api: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB
gemini:
  api-key: ${GEMINI_API_KEY:dummy}
delivery-tracker:
  client-id: AA4fGkp0h7yLK3udnIddEUZl
  client-secret: h3I9iVbQ0gOubcebHyL2cEMRZOnT73xVFx7kia7phvw

custom:
  genFileDirPath: C://work//gongbangImg