/* 전체 프레임 */
.detailPage {
    width: 1280px; /* ✅ 고정 1280 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 24px 0;
    box-sizing: border-box;
}

.photoReview-container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    /* padding: 20px 0; */
    overflow: hidden;
}

.photoReview-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.photoReview-swiper {
    width: 100%;
    padding: 15px 0 40px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 포토 리뷰 슬라이드 영역 */
.photoCard {
    width: 200px;
    height: 250px;
    background-color: #fafafa;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    gap: 5px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
    font-family: 'P-Regular';
}

.photoCard:hover {
    transform: scale(1.03);
    /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15); */
    cursor: pointer;
}

.photoCard img {
    margin-top: 8px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.photoCard p {
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0;
}

/* 화살표 버튼 */
.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #444;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}

.custom-prev:hover,
.custom-next:hover {
    background-color: #f1f1f1;
    color: #000;
    transform: translateY(-50%) scale(1.1);
}

.photoReview-swiper .swiper-wrapper {
    display: flex;
    padding: 0 20px;
}
/* 포토 리뷰 슬라이드 영역 끝*/

.review-banner {
    max-width: 1280px;
    height: 200px;
    border-radius: 12px;
    background: linear-gradient(90deg, #ebc0c8e0, #EBC2CA);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px;
    margin-bottom: 50px;
    margin-top: 100px;
    color: #b34760;
    font-family: 'P-regular';
    /* box-shadow: 0 6px 12px rgba(255, 165, 185, 0.3); */
}
.review-banner h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
.review-banner p {
    margin-top: 10px;
    font-size: 26px;
    opacity: 0.9;
}

.review-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-write-btn {
    background-color: #DAC0A3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.review-write-btn:hover {
    background-color: rgba(177, 116, 87, 0.63)
}

/* 리뷰 평균 별점 (별 형식)*/
.review-average-container {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
}

.review-average-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
}

.review-average-value {
    font-size: 48px;
    margin: 0;
    color: #333;
}

.review-average-stars {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-average-count {
    color: #777;
    
}
/* 리뷰 평균 별점 (별 형식) 끝*/

/* 리뷰 별점 그래프 */
.review-average-graph {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 120px;
    border-radius: 8px;
}

.review-graph-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.review-graph-label {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 40px;
    font-size: 14px;
    color: #333;
}

.review-graph-bar-bg {
    flex: 1;
    height: 8px;
    background-color: #f0caca;
    border-radius: 4px;
    margin: 0 10px;
    overflow: hidden;
}

.review-graph-bar-fill {
    height: 100%;
    background-color: #ff9c9c;
    border-radius: 4px;
    transition: width 0.3s ease;
}

.review-graph-percent {
    width: 30px;
    font-size: 14px;
    color: #555;
}

/* 리뷰 별점 그래프 끝*/

/* 정렬 + 검색 바 */
.review-sort-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    margin-bottom: 20px;
}

.review-sort-buttons {
    display: flex;
    gap: 5px;
    font-size: 16px;
}

.review-sort-btn {
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    /* transition: 0.3s; */
    font-weight: normal;
    padding: 8px 16px;
    border-radius: 8px;
}

.review-sort-btn.active {
    background-color: #DAC0A3;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
}

.review-sort-btn:hover {
    color: white;
    background-color: #b17457c2;
    background-color: rgba(177, 116, 87, 0.63);
    padding: 8px 16px;
    transition: 0.3s;
}



/* 검색창 (필요 시 활성화) */
.review-search-input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.review-search-btn {
    background-color: #ad9263;
    background-color: #DAC0A3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 5px;
    cursor: pointer;
}

.review-search-btn:hover {
    background-color: #8f7851;
    background-color: #DAC0A3;
    background-color: rgba(177, 116, 87, 0.63);
    transition: 0.3s;
}
/* 정렬 + 검색 바 끝*/

/* 리뷰 리스트 */
.review-title {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
}

.review-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-empty {
    color: #777;
}

.review-item {
    margin-bottom: 40px;
    width: 820px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-meta {
    color: #777;
    font-size: 14px;
}

.review-rating-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.review-stars {
    display: flex;
    align-items: center;
}

.review-actions {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

/* 👍 좋아요 버튼 */
.review-like-btn {
    background-color: #ff8080;
    background-color: #DAC0A3;
    color: #555;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.review-like-btn:hover {
    background-color: #e7e7e7;
    background-color: rgba(177, 116, 87, 0.63);
}

.review-like-btn.liked {
    color: #5c3d1e;
    background-color:#F4991A ;
    transform: scale(1.05);
}

.review-like-btn.liked:hover {
    background-color: #bb9d71;
    background-color: rgba(177, 116, 87, 0.63);
    background-color:#eeaf58 ;
}
/* 🗑️ 삭제 버튼 */
.review-delete-btn {
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}
.review-delete-btn:hover {
    background-color: #333333;
}

/* 📃 리뷰 내용 */
.review-content-title {
    margin: 5px;
}
.review-content-box {
    display: flex;
    width: 800px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fafafa;
    transition: 0.3s;
    line-height: 1.6;
    margin-bottom: 10px;
}
.review-content-box:hover {
    background-color: #f5f5f5;
}

.review-content-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.6;
    margin: 0;
    flex: 1;
}

.review-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
    flex-shrink: 0;
}

.review-divider {
    width: 820px;
    border: none;
    border-top: 1px solid #ccc;
}

/* 💬 댓글 영역 */
.review-comment {
    /* display: flex; */
    width: 800px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fafafa;
    transition: 0.3s;
    line-height: 1.6;
    margin-bottom: 10px;
    justify-content: space-between;
}

.review-comment-content {
    flex: 1;
    padding-right: 10px;
    word-break: break-word;
}

/* 댓글 버튼들 */
.review-comment-edit-btn,
.review-comment-delete-btn,
.review-comment-add-btn,
.review-comment-save-btn,
.review-comment-cancel-btn  {
    background-color: #DAC0A3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.review-comment-delete-btn {
    background-color:#F4991A ;
}

.review-comment-edit-btn:hover,
.review-comment-add-btn:hover,
.review-comment-save-btn:hover {
    background-color: #DAC0A3;
    background-color: rgba(177, 116, 87, 0.63);
}

.review-comment-delete-btn:hover{
    background-color:#eeaf58 ;
}

/* 댓글 수정/등록 박스 */
.review-comment-label {
    font-weight: bold;
    margin-bottom: 6px;
    color: #4d3815; /* 카페 색상 느낌 */
    font-size: 14px;
}

.review-comment-editbox,
.review-comment-addbox {
    margin-top: 10px;
}
.review-comment-textarea {
    display: flex;
    width: 800px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    background-color: #fafafa;
    transition: 0.3s;
    line-height: 1.6;
    margin-bottom: 10px;
    resize: none;
}

.review-comment-edit-controls {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.review-comment-cancel-btn {
    background: #ccc;
    color: white;
    cursor: pointer;
}
.review-comment-cancel-btn:hover {
    background-color: #bbb;
}

/* 리뷰 리스트 끝*/

/* 페이지네이션 */

/* 페이지네이션 전체 */
.review-pagination {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}

/* 기본 버튼 스타일 */
.pagination-btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 4px;
    font-size: 14px;
}

/* 비활성화 상태 */
.pagination-btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* 이전/다음 버튼 */
.pagination-btn.prev {
    margin-right: 10px;
}

.pagination-btn.next {
    margin-left: 10px;
}

/* 현재 페이지 강조 */
.pagination-btn.active {
    background-color: #ad9263;
    color: white;
    font-weight: bold;
}

/* 페이지네이션 끝*/
