/* 전체 프레임 */
.detailPage {
    max-width: 1280px; /* ✅ 고정 1280 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 0 20px;
    box-sizing: border-box;
}

.photoReview-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* padding: 20px 0; */
    overflow: hidden;
}

.photoReview-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.photoReview-swiper {
    overflow: hidden !important;
    width: 100%;
    padding: 15px 0 40px;
}

/* .photoReview-swiper .swiper-wrapper {
  overflow: hidden !important;
} */

.swiper-slide {
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 포토 리뷰 슬라이드 영역 */
.photoCard {
    width: 200px;
    height: 250px;
    background-color: #fafafa;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    gap: 5px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
}

.photoCard:hover {
    transform: scale(1.03);
    /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15); */
    cursor: pointer;
}

.photoCard img {
    margin-top: 8px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.photoCard p {
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0;
}

/* 모달 */
.photo-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-title {
    margin-bottom: 15px;
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.modal-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

/* 화살표 버튼 */
.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #444;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}

.custom-prev:hover,
.custom-next:hover {
    background-color: #f1f1f1;
    color: #000;
    transform: translateY(-50%) scale(1.1);
}

.photoReview-swiper .swiper-wrapper {
    display: flex;
    /* padding: 0 20px; */
}
/* 포토 리뷰 슬라이드 영역 끝*/

.review-banner {
    /* max-width: 1280px; */
    /* height: 300px; */
    border-radius: 8px;
    /* background: linear-gradient(90deg, #ebc0c8e0, #EBC2CA); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 30px 40px; */
    margin-bottom: 50px;
    margin-top: 100px;
    /* color: #b34760; */
}

.review-banner-img {
    border-radius: 8px;
}
.review-banner h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
.review-banner p {
    margin-top: 10px;
    font-size: 26px;
    opacity: 0.9;
}

.review-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-write-btn {
    background-color: #dac0a3;
    font-size: 20 px;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 28px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.review-write-btn:hover {
    background-color: rgba(177, 116, 87, 0.63);
}

/* 리뷰 평균 별점 (별 형식)*/
.review-average-container {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
}

.review-average-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
}

.review-average-value {
    font-size: 48px;
    margin: 0;
    color: #333;
}

.review-average-stars {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-average-count {
    color: #777;
}
/* 리뷰 평균 별점 (별 형식) 끝*/

/* 리뷰 별점 그래프 */
.review-average-graph {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 120px;
    border-radius: 8px;
}

.review-graph-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.review-graph-label {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 40px;
    font-size: 14px;
    color: #333;
}

.review-graph-bar-bg {
    flex: 1;
    height: 8px;
    background-color: #f0caca;
    border-radius: 8px;
    margin: 0 10px;
    overflow: hidden;
}

.review-graph-bar-fill {
    height: 100%;
    background-color: #ff9c9c;
    border-radius: 2px;
    transition: width 0.3s ease;
}

.review-graph-percent {
    width: 30px;
    font-size: 14px;
    color: #555;
}

/* 리뷰 별점 그래프 끝*/

/* 정렬 + 검색 바 */
.review-sort-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    margin-bottom: 40px;
}

.review-sort-buttons {
    display: flex;
    gap: 5px;
    font-size: 16px;
}

.review-sort-btn {
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    /* transition: 0.3s; */
    font-weight: normal;
    padding: 8px 16px;
    border-radius: 8px;
}

.review-sort-btn.active {
    background-color: #dac0a3;
    color: white;
    /* font-weight: ; */
    padding: 8px 16px;
    border-radius: 8px;
}

.review-sort-btn:hover {
    color: white;
    background-color: #b17457c2;
    background-color: rgba(177, 116, 87, 0.63);
    padding: 8px 16px;
    transition: all 0.3s ease;
}

/* 검색창 */
/* .review-search-input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
} */

/* .review-search-btn {
    background-color: #ad9263;
    background-color: #DAC0A3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 5px;
    cursor: pointer;
}

.review-search-btn:hover {
    background-color: #8f7851;
    background-color: #DAC0A3;
    background-color: rgba(177, 116, 87, 0.63);
    transition: all 0.3s ease;
} */
/* 정렬 + 검색 바 끝*/

.review-rating-select {
    display: flex;
    align-items: stretch;
    background-color: #dac0a3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.rating-select-wrapper {
    position: relative;
    display: inline-block;
}

/* select hover */
.review-rating-select:hover {
    background-color: rgba(177, 116, 87, 0.63);
    padding: 8px 16px;
    transition: all 0.3s ease;
}
.review-rating-select:invalid {
    color: white;
}

.review-rating-select option[value=''] {
    color: #ffffff;
}

/* ⭐ placeholder 효과 */
.review-rating-select:invalid::after {
    content: '필터';
    color: white;
}
/* 리뷰 리스트 */

.review-title {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
}

.review-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-empty {
    color: #777;
}

.review-item {
    margin-bottom: 40px;
    width: 820px;
}

.review-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}

.review-user {
    display: flex;
    align-items: center;
}

.review-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    overflow: hidden;
    /* background-color: #ddd;  */
    /* 기본 회색 배경 (이미지 없을 때) */
    flex-shrink: 0;
}

.review-user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-user-info {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.review-user-name {
    font-size: 14px;
    font-weight: 500;
}

.review-meta {
    color: #777;
    font-size: 14px;
}

.review-rating-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.review-stars {
    display: flex;
    align-items: center;
}

.review-actions {
    display: flex;
    gap: 5px;
    /* margin-top: 10px; */
}

/* 👍 좋아요 버튼 */
.review-like-btn {
    background-color: #ff8080;
    background-color: #dac0a3;
    color: #555;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.review-like-btn:hover {
    background-color: #e7e7e7;
    background-color: rgba(177, 116, 87, 0.63);
}

.review-like-btn.liked {
    color: #fff;
    background-color: #f4991a;
    transform: scale(1.05);
}

.review-like-btn.liked:hover {
    background-color: #bb9d71;
    background-color: rgba(177, 116, 87, 0.63);
    background-color: #eeaf58;
}

.like-icon {
    margin-right: 6px;
}
/* 🗑️ 삭제 버튼 */
.review-delete-btn {
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}
.review-delete-btn:hover {
    background-color: #bbb;
}

.report-btn button {
    transform: scale(0.7);
}

/* 📃 리뷰 내용 */
.review-content-title {
    margin: 5px;
}
.review-content-box {
    display: flex;
    width: 800px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fafafa;
    transition: all 0.3s ease;
    line-height: 1.6;
    margin-bottom: 10px;
}
.review-content-box:hover {
    background-color: #f5f5f5;
}

.review-content-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.6;
    margin: 0;
    flex: 1;
}

.review-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 15px;
    flex-shrink: 0;
}

.review-divider {
    width: 820px;
    border: none;
    border-top: 1px solid #ccc;
}

/* 💬 댓글 영역 */
.review-comment {
    display: flex;
    width: 800px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fafafa;
    transition: all 0.3s ease;
    line-height: 1.6;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-direction: column;
}

.review-comment-content {
    flex: 1;
    padding-right: 10px;
    word-break: break-word;
}

/* 댓글 버튼들 */
.review-comment-edit-btn,
.review-comment-delete-btn,
.review-comment-add-btn,
.review-comment-save-btn,
.review-comment-cancel-btn {
    background-color: #dac0a3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.review-comment-delete-btn {
    background-color: #dac0a3;
}

.review-comment-edit-btn:hover,
.review-comment-add-btn:hover,
.review-comment-save-btn:hover,
.review-comment-cancel-btn:hover,
.review-comment-delete-btn:hover {
    background-color: #dac0a3;
    background-color: rgba(177, 116, 87, 0.63);
}

/* 댓글 수정/등록 박스 */
.review-comment-label {
    font-weight: bold;
    margin-bottom: 6px;
    color: #4d3815;
    font-size: 14px;
}

.review-comment-actions,
.review-comment-edit-controls {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    gap: 10px;
    margin-top: 5px;
}

.review-comment-editbox,
.review-comment-addbox {
    margin-top: 10px;
}
.review-comment-textarea {
    /* display: flex; */
    width: 800px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    background-color: #fafafa;
    transition: all 0.3s ease;
    line-height: 1.6;
    margin-bottom: 10px;
    resize: none;
}

.review-comment-edit-controls {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}
/* 리뷰 리스트 끝*/

/* 페이지네이션 */
/* 페이지네이션 전체 */
.review-pagination {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}

/* 기본 버튼 스타일 */
.pagination-btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 4px;
    font-size: 14px;
}

/* 비활성화 상태 */
.pagination-btn:disabled {
    /* cursor: not-allowed; */
    opacity: 0.5;
}

/* 이전/다음 버튼 */
.pagination-btn.prev {
    margin-right: 10px;
}

.pagination-btn.next {
    margin-left: 10px;
}

/* 현재 페이지 강조 */
.pagination-btn.active {
    background-color: rgba(177, 116, 87, 0.63);
    background-color: #8a7661;
    color: white;
    font-weight: bold;
}

/* 페이지네이션 끝*/

/* 반응형 */
@media (max-width: 460px) {
    .detailPage {
        width: 100%;
        padding: 0 16px;
    }

    .reviews-title {
        font-size: 18px;
    }

    .photoReview-title {
        font-size: 16px;
    }

    .review-title {
        font-size: 16px;
    }

    /* 리뷰 평균 별점 영역 */
    .review-average-container {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
        align-items: center;
        padding: 0 16px;
    }

    .review-average-score {
        width: auto;
    }

    .review-average-value {
        font-size: 32px;
    }

    .review-average-count {
        font-size: 13px;
    }

    .review-average-graph {
        width: 100%;
        padding: 16px;
    }

    .review-graph-label {
        font-size: 12px;
    }

    .review-graph-row {
        margin-bottom: 2px;
    }

    /* 정렬 */
    .review-sort-search {
        flex-direction: column;
        gap: 10px;
        padding: 12px 0;
    }

    .review-sort-buttons {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
        gap: 8px;
    }

    .review-sort-btn {
        padding: 6px 12px;
    }

    .review-rating-select {
        font-size: 14px;
        padding: 6px 12px;
    }

    .review-rating-select:hover {
    background-color: rgba(177, 116, 87, 0.63);
    padding: 6px 12px;
    transition: all 0.3s ease;
}


    /* 별점 영역 */
    .review-rating-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .review-stars {
        display: flex;
        gap: 2px;
    }

    .star-icon {
        width: 18px !important;
        height: 18px !important;
    }

    .review-actions {
        display: flex;
        gap: 5px;
        /* margin-top: 10px; */
    }

    /* 리뷰 내용 영역 */
    .review-item {
        width: 100%;
        margin-bottom: 30px;
    }

    .review-header {
        gap: 6px;
    }

    .review-user-avatar {
        width: 32px;
        height: 32px;
    }

    .review-user-name {
        font-size: 13px;
    }

    .review-meta {
        font-size: 12px;
    }

    .review-content-box {
        width: 100% !important;
        height: 90px !important;
        padding: 12px;
        flex-direction: row;
        gap: 10px;
    }

    .review-image {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 6px;
        margin: 0;
    }

    .review-content-text {
        -webkit-line-clamp: 3;
        font-size: 13px;
    }

    .review-divider {
        width: 100%;
    }

    /* 댓글 영역 */
    .review-comment,
    .review-comment-textarea {
        width: 100%;
    }

    .review-comment {
        padding: 12px;
        height: auto;
    }

    .review-comment-textarea {
        height: 80px;
    }

    .review-comment-actions {
        gap: 6px;
    }

    .review-comment-edit-btn,
    .review-comment-delete-btn,
    .review-comment-add-btn,
    .review-comment-save-btn,
    .review-comment-cancel-btn {
        padding: 6px 10px;
        font-size: 12px;
    }


    /* 포토 슬라이드 */
    .photoCard {
        width: 160px;
        height: 200px;
        background-color: #fafafa;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;
        object-fit: cover;
        object-position: center;
        gap: 5px;
        /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
    }

    .photoCard:hover {
        transform: scale(1.03);
        /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15); */
        cursor: pointer;
    }

    .photoCard img {
        margin-top: 8px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
    }

    .photoCard p {
        font-size: 10px;
        font-weight: 500;
        margin: 8px 0;
    }

    .custom-next,
    .custom-prev {
        display: none;
    }

    /* 포토 모달 */
    .photo-modal {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;
    }

    .modal-title {
        font-size: 14px;
    }

    .modal-container {
        gap: 4px;
    }

    .modal-img {
        width: 90px;
        height: 90px;
    }

      /* ============================
       기본 버튼 규격
       ============================ */
    .review-sort-btn,
    .review-sort-btn.active,
    .review-like-btn,
    .review-like-btn.liked,
    .review-delete-btn,
    .review-comment-edit-btn,
    .review-comment-delete-btn,
    .review-comment-add-btn,
    .review-comment-save-btn,
    .review-comment-cancel-btn,
    .review-write-btn,
    .pagination-btn {
        padding: 6px 12px;
        font-size: 12px;
        border-radius: 6px;
    }


    /* ============================
       정렬 버튼
       ============================ */
    .review-sort-btn,
    .review-sort-btn.active {
        padding: 6px 12px;
        font-size: 13px;
    }

    .review-sort-btn:hover {
    color: white;
    background-color: #b17457c2;
    background-color: rgba(177, 116, 87, 0.63);
    padding: 6px 12px;
    transition: all 0.3s ease;
}


    /* ============================
       좋아요 버튼
       ============================ */
    .review-like-btn {
        padding: 6px 12px;
        font-size: 12px;
    }

    .review-like-btn.liked {
        padding: 6px 12px;
        font-size: 12px;
        transform: scale(1.03);
    }

    /* “도움돼요” 텍스트 숨기기 */
    .review-like-btn .like-text {
        display: none;
    }

    /* 아이콘 크기 */
    .review-like-btn {
        font-size: 16px;
    }

    .like-icon {
        margin : 0;

    }


    /* ============================
       삭제 버튼
       ============================ */
    .review-delete-btn {
        padding: 6px 12px;
        font-size: 12px;
    }


    /* ============================
       신고 버튼
       ============================ */
    .report-btn button {
        transform: scale(0.6);
        margin-left: 4px;
    }


    /* ============================
       댓글용 버튼들
       ============================ */
    .review-comment-edit-btn,
    .review-comment-delete-btn,
    .review-comment-add-btn,
    .review-comment-save-btn,
    .review-comment-cancel-btn {
        padding: 6px 10px;
        font-size: 12px;
        border-radius: 6px;
        margin: 4px 4px 8px 0;
    }

    .review-comment-actions,
    .review-comment-edit-controls {
        gap: 6px;
    }


    /* ============================
       리뷰 작성 버튼 (상단)
       ============================ */
    .review-write-btn {
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 6px;
        margin-top: 12px;

    }


    .report-btn {
        margin: 0;
    }

    /* ============================
       페이지네이션 버튼
       ============================ */
    .pagination-btn {
        padding: 6px 8px;
        font-size: 12px;
        margin: 0 2px;
    }
}
