.auth-container {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    background-color: #eeebe5;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.auth-title {
    font-size: 38px;
    font-weight: 600;
    color: #1e293b;
    text-align: center;
    margin-bottom: 50px;
}

.auth-group {
    margin-bottom: 76px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.auth-group > .auth-box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff0dd;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

.auth-group > .auth-box:hover {
    background-color: #8e8282;
    color: white;
}
